*{
box-sizing:border-box;

}

body
{
background-color:#777;
width:960px;
font-family: "Ariel", "Helvetica Neue", Helvetica, sans-serif;
font-size: 18px;
margin-left:12%;
margin-right:12%;
color:#777;
}

#content{

width:960px;
text-align:center;

}

header, nav, footer
{
background-color:#ebebeb;
padding-top:10px;
padding-bottom:10px;

width:100%;
margin-top:10px;
margin-bottom:10px;
text-align: center;
}
.clear{
clear:both;
}

section{

background-color:#ebebeb;
width:490px;
height:350px;
padding:35px 10px 10px 10px;
position:relative;
display:inline-block;
box-sizing:border-box;

}
article
{
position:absolute;
bottom:1%;
left:0;
background-color:#777;
margin:5%;
width:90%;
height:60%;
padding-top:20px;
color:#ebebeb;

}
h1{
font-size:18px;
font-weight:normal;
}

h2{
color:#777;
background-color:#ebebeb;
width:95%;
padding:20px;
margin:10px 10px 5px 10px;
position:absolute;
bottom:85px;

}

p
{
color:#777;
background-color:#ebebeb;
width:95%;
padding:20px;
margin:0 10px 5px 10px;
position:absolute;
bottom:8px;
}

aside
{
padding-top:25px;
display:inline-block;
width:455px;
margin:0 0 10px 10px;
padding:35px;
height:350px;
background-color:#ebebeb;
}